<div class="posts" *ngIf="!loading">
  <thead>
    <tr>
      <td>id:</td>
      <td>userId:</td>
      <td>title:</td>
      <td>action:</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.id}}</td>
      <td>{{post.userId}}</td>
      <td>{{post.title}}</td>
      <td><button routerLink="/one/{{post.id}}">Infos</button></td>
    </tr>
  </tbody>
</div>

<div id="autoselect">
  <form class="example-form" style="padding-left: 20px">
    Recherche
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>n°</mat-label>
      <input type="text"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async"
                    [value]="option" (click)="OnPostSelected(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>


<div *ngIf="loading">
  <h1>JE CHHAAAAAAARGE</h1>
</div>
